{% extends "layout.html" %}
{% block content %}
<div class="item_home">
  <div class="info">
    <p class="project_name">Ante Wall</p>
    <p class="date">1993-01-10</p>
    <p class="short_desc">Ante är en snäll kille som har bott och växt upp i Linköping.
    <br/><br/>Genom sina många år som superhjälte lärde han sig mycket om programmering som han nu använder sig av på programmet Innovativ Programmering på Linköpings Universitet.</p>
  </div>
  <div class="img_home">
    <img src="static/images/ante.jpg" alt="Ante Wall"/>
  </div>
</div>
<div class="item_home">
  <div class="info">
    <p class="project_name">Dan Andréasson</p>
    <p class="date">1993-01-20</p>
    <p class="short_desc">Detta är Dan! D:</p>
  </div>
  <div class="img_home">
    <img src="static/images/dan.jpg" alt="Ante Wall"/>
  </div>
</div>
{% endblock %}

