<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% block css_folder %}
<link rel="stylesheet" type="text/css" href="static/style.css"/>
{% endblock %}
<script type="text/javascript" src="static/js/jquery-1.6.1.min.js"></script>
<script src="static/js/script.js"></script>
{% block title %}
<title>Home</title>
{% endblock %}
</head>
<body>
<div id="header">
  <ul id="nav">
    <a href="/"><li>Home</li></a>
    <a href="/list"><li>List All Projects</li></a>
    <a href="/techniques"><li>List Techniques</li></a>
  </ul>
</div>
<div id="header_edge">
</div>
<div id="main_content">
<div id="last_proj_hidden">
</div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
{% block last_proj %}
<div id="last_proj">
  <div id="last_proj_subject">Last Updated Projects</div>
  {% for projects in updatedPro %}
  <a href="portfolio/{{projects['project_no']}}"><p class="last_proj">{{ projects['project_name'] }} </p></a>
  <div class="last_proj_item">
    <div>
      <a href="portfolio/{{projects['project_no']}}"<p>{{ projects['end_date'] }} </p>
      <p>{{ projects['short_description'] }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
</div>

</body>
</html>
