<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% block css_folder %}static/style.css{% endblock %}"/>
<title>Titel</title>
</head>
<body>
<div id="header">
  <ul id="nav">
    <a href="/"><li>Home</li></a>
    <a href="/list"><li>List All Projects</li></a>
    <a href="/techniques"><li>List Techniques</li></a>
    <a href="/contact"><li>Contact</li></a>
  </ul>
</div>
<div id="header_edge">
</div>
<div id="main_content">
<div id="last_proj_hidden">
</div>
  <div id="content">
  {% block content %}
  {% endblock %}
  
  </div>
<div id="last_proj">
  <div id="last_proj_subject">Last Updated</div>
  <div class="last_proj_item"></div>
  <div class="last_proj_item"></div>
  <div class="last_proj_item"></div>
  <div class="last_proj_item"></div>
</div>
</div>

</body>
</html>
