{% extends "layout.html" %}
{% block title %}
<title>List Techniques</title>
{% endblock %}
{% block content %}
<!-- Advanced Search Field -->
<div id="search_field">
  <form action="" method="POST">
    <fieldset id="list_tech">

      <fieldset class="multiselect2">
	{% for tech in all_tech %}
	<label><input type="checkbox" name="{{tech}}" value="{{tech}}" />{{tech}}</label>
	{% endfor %}
      </fieldset>
      <fieldset id="button">
	<input type="submit" value="" name="submit"/>
      </fieldset>
    </fieldset>
  </form>
</div>



<!-- Advanced Search Field Ends -->
{% for tech in selected_tech %}
<h1>{{tech.capitalize()}}</h1>

{% for projects in dataB if tech in projects['techniques_used']%}
<div class="item_tech">
  <div class="info">
    <p class="project_name">{{ projects['project_name'] }} </p>
    <p class="date">{{ projects['end_date'] }}</p>
    <p class="short_desc">{{ projects['short_description'] }}</p>
  </div>
  <div class="img">
    <img width="250px" height="170px" src="http://www.picgifs.com/graphics/c/cute/graphics-cute-988928.jpg" alt="Cute!!!"/>
  </div>
  <div class="info_footer">
    <a href="portfolio/{{ projects['project_no'] }}"><p>Read More</p></a>
    <a class="download_now" href="/portfolio/id/download"><p>Download Now</p></a>
  </div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}

{% block last_proj %}<div id="last_proj_hidden"> {% endblock %}
